h1 {
    color: saddlebrown;
}

div {
    background-color: aliceblue;
    padding: 2px;
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    width: 100%;
}

img {
    border-radius: 20%;
    max-width: 100%;
    height: auto;

}

.ingredientes {
    background-color: antiquewhite;
    margin: 20px;
    text-align: start;
    min-height: 20px;
    border-radius: 20px;
    padding: 10px;
    padding-right: 15px;
    width: 80%;
    max-width: 500px;


}

.ingredientes ul,
.pasos ol {
    padding-left: 20px;
}

.pasos {
    background-color: antiquewhite;
    margin: 5px;
    text-align: start;
    min-height: 20px;
    border-radius: 20px;
    padding: 5px;
    padding-right: 10px;
}

@media (max-width:768px) {
    .pasos {
        width: 90%;
    }
}
