div {
    background-color: aliceblue;
    padding: 2px;
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    margin: 0;
}
h1 {
    color: sienna;
    
}
.parrafo {
    font-size: large;
    background-color: bisque;
    color: rgb(255, 142, 127);
    border: 5px;
    padding: 30px;
    border-radius: 5px;
    margin: 10px;
    min-height: 15vh;
}


table {

    color: black;
    margin-top: 30px;
}




table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;

}

table,
th,
td {
    border: 2px dotted palegoldenrod;
}

th,
td {
    text-align: center;
    padding: 20px;
}

th {
    height: 50px;
    background-color: burlywood;
    color: white;
}

th :hover {
    background-color: sienna;
    color: beige;
}

tr:nth-child(odd) {
    background-color: bisque;
}

tbody>tr:hover {
    background-color: sienna;
    color: beige;


}
a {
    text-decoration: none;
    color: chocolate;
}
.galeria {
    background-color: beige;
    display: grid;
   padding: 15px;
    margin: 20px;
     padding: 20PX;
    min-height: 15PX;

}
.galeria img {
    width: 100%; /* Hace que las imágenes se ajusten al contenedor */
    height: 200px; /* Ajusta la altura para uniformidad */
    object-fit: cover; /* Evita que las imágenes se deformen */
    border-radius: 10px; /* Bordes redondeados */
    }
 .instagram {
        text-align: center; /* Centra el icono */
        margin-top: 20px;
        color: beige;
        
    }
    
    .instagram img {
        width: 70px; /* Ajusta el tamaño del logo */
        transition: transform 0.3s ease-in-out;
    }
    
    .instagram img:hover {
        transform: scale(1.2); /* Hace zoom al pasar el mouse */
    }
    
